<aside class="rlr-sidebar-menu col-lg-3 col-xs-12 mb-5">
  <div class="rlr-sidebar-menu__wrapper">
    <nav class="rlr-sidebar-menu">
      <ul class="rlr-sidebar-menu__desktop">
        <li>
          <a class="rlr-sidebar-menu__link {{#if dashboard}} active {{/if}}" href="/dashboard">
            <span class="rlr-sidebar-menu__link-icon"><i
                class="rlr-icon-font flaticon-carbon-dashboard"
              > </i></span>
            Dashboard
          </a>
        </li>
        <li>
          <a
            class="rlr-sidebar-menu__link {{#if orders}} active {{/if}}"
            href="orders"
          >
            <span class="rlr-sidebar-menu__link-icon"><i
                class="rlr-icon-font flaticon-carbon-box"
              > </i></span>
            Orders
          </a>
        </li>
        <li>
          <a class="rlr-sidebar-menu__link" href="#" id="logot">
            <span class="rlr-sidebar-menu__link-icon"><i
                class="rlr-icon-font flaticon-carbon-logout"
              > </i></span>
            Logout
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>