<a href="tel:+91 8126008081" class="floater_call"><i class="rlr-icon-font flaticon-phone-receiver-silhouette"></i></a>
<footer class="rlr-footer rlr-section rlr-section__mt">
  <div class="container">
    <div class="rlr-footer__getintouch">
      <div
        class="rlr-footer__getintouch_col rlr-footer__getintouch__col--title"
      >
        <h4>Unleash Your Wanderlust</h4>
        <p>Explore, Book, and Discover!</p>
      </div>
      <div
        class="rlr-footer__getintouch_col rlr-footer__getintouch__col--address"
      >
        <h4>Our Office</h4>
        <a href="#">Mathura, U.P, India</a>
      </div>
    </div>
    <!-- Footer menu -->
    <div class="rlr-footer__menu">
      <nav class="rlr-footer__menu__col">
        <!-- Footer menu col -->
        <h4>City</h4>
        <ul>
          <li><a href="#">Mathura</a></li>
          <li><a href="#">Vrindavan</a></li>
          <li><a href="#">Delhi</a></li>
          <li><a href="#">Agra</a></li>
          <li><a href="#">Barsana</a></li>
          <li><a href="#">Goverdhan</a></li>
        </ul>
      </nav>
      <nav class="rlr-footer__menu__col">
        <!-- Footer menu col -->
        <h4>Country</h4>
        <ul>
          <li>India</li>
        </ul>
      </nav>
      <!-- Subscribe -->
      <nav class="rlr-footer__menu__col rlr-footer__menu__col--lg">
        <h4>Get In Touch</h4>
        <a href="#" class="rlr-footer__menu__col__letstalk">Let’s Talk</a>
        <form
          class="rlr-subscribe"
          data-aos="fade-up"
          data-aos-offset="250"
          data-aos-duration="700"
          id="myform"
        >
          <input
            id="email2"
            type="email"
            class="rlr-subscribe__input"
            placeholder="Enter your email"
          />
          <button class="btn" id="consubmit1">Send Now!</button>
        </form>
      </nav>
    </div>
    <!-- Footer bottom -->
    <div class="rlr-footer__legal">
      <div class="rlr-footer__legal__row rlr-footer__legal__row--top">
        <div class="rlr-footer__legal__row__col">
          <a href="/privacy-policy">Privacy Policy</a>
        </div>
        <!-- Footer social links -->
        <div class="rlr-footer__legal__row__col">
          <a href="#">Linkedin</a>
          <span class="separate">/</span>
          <a href="#">Facebook</a>
          <span class="separate">/</span>
          <a href="#">Instagram</a>
        </div>
      </div>
      <!-- Footer copyright -->
      <div class="rlr-footer__legal__row rlr-footer__legal__row--bottom">
        <div class="rlr-footer__legal__row__col">
          <span>2022 © Vrindavan Mathura Tour Package</span>
        </div>
        <!-- Footer payment thumbs -->
        <div class="rlr-footer__legal__row__col">
          <img loading="lazy" src="/assets/images/ele-payments.png" alt="Payments" />
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/js/scripts/contact.js"></script>
<script src="https://unpkg.com/validator@latest/validator.min.js"></script>