<div class="container">
  <div class="row">
    <div class="col-sm-12 rlr-sidebar-menu__mobile">
      <select
        class="rlr-sidebar-menu__sub-menu rlr-form-select"
        id="rlr-js-sub-menu"
        name="rlr-sub-menu"
      >
        <option>Navigate to...</option>
        <option value="dashboard">Dashboard</option>
        <option value="orders">Orders</option>
      </select>
    </div>
  </div>
</div>