<!DOCTYPE html>
<html lang="en">

<head>
  {{>chead}}
  <meta charset="UTF-8" />
  <meta name="description"
    content="The page you are looking for could not be found. Try searching for the page again or contact us for help." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 Page Not Found</title>
  <meta name="keywords" content="vrindavan mathura tour package, 404 error, page not found">
  <meta name="robots" content="noindex">
  <!-- Favicon -->
</head>

<body class="rlr-body">
  <!-- Header -->
  {{>header}}
  <!-- Main Content -->
  <main id="rlr-main" class="rlr-main--fixed-top">
    <section class="rlr-section rlr-error">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 rlr-error__content">
            <!-- Heading text -->
            <p class="type-lead-semibold">404 Error</p>
            <h1 class="type-h1">Page not found</h1>
            <span class="rlr-section__heading--sub">Sorry but the page you are looking for has been removed or had its
              name changed. Please try your search again!</span>
          </div>
          <div class="offset-lg-6"></div>
        </div>
      </div>
    </section>
  </main>
  <!-- Footer -->
  {{>footer}}
  <!-- Scripts -->
  <script src="/vendors/navx/js/navigation.min.js" defer></script>
  <script src="/js/main.js" defer></script>
</body>

</html>